# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Log Files
*.log