# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Log Files
*.log